.buttons{
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.play{
    font-size: 3.5rem;
    color: rgb(22, 215, 22);
}

.follow{
    background: transparent;
    border-radius: 10px;
    padding: 1vh 1vw;
    font-size: 1.1rem;
    color: white;
    border: 1px solid white;
}

@media (max-width: 1024px){
    .buttons{
        gap: 3vw;
    }
}

@media (max-width: 768px){
    .buttons{
        gap: 4vw;
    }
}

@media (max-width: 480px){
    .buttons{
        gap: 5vw;
    }
}